* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 
}


body {
    background-color: orange;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 415px;
    height: 315px;
    background-color: rgb(233, 233, 233);
}

.main {
    width: 400px;
    height: 300px;
    background-color: royalblue;
    border-radius: 20px;
}

.hello {
    font-size: 4.5em;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.my-name-is {
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
}

.patrick {
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    padding: 30px;
    width: 100%;
}
.color-buttons {
    margin-top: 5px;
    
}

#purple {
    background-color: purple;
    color: white;
    
}
#red {
    background-color: red;
    color: white;
}
#pink {
    background-color: magenta;
    color: white;
}
#input {
    margin: 5px;
}
